<!DOCTYPE html>
<html>
<head>
	<title>New Registration</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../public/styles/registration.css">
	<script type="text/javascript" src="../public/js/registration.js"></script>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body><br><br>
	<h1 style="text-align: center; font-family: sans-serif;">Razzmatazz Registration Form</h1>
	<hr style="width: 50%;margin-top:0px;margin-bottom: 0px">
<div class="card">
<div class="row" id="row">
	<div class="col-sm-3" id="menu-bg">
		
	</div>
	<div class="col-sm-9" id="menu-as">

<form action="/registration" method="post">
  <div class="form-group row">
    <label for="colFormLabelLg" class="col-sm-3 col-form-label col-form-label-lg">Name</label>
    <div class="col-sm-7">
      <input type="text" class="form-control form-control-lg" id="colFormLabelLg" name="student[name]" placeholder="name" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="colFormLabelLg" class="col-sm-3 col-form-label col-form-label-lg">School</label>
    <div class="col-sm-7">
      <input type="text" class="form-control form-control-lg" id="colFormLabelLg" name="student[school]" placeholder="school" required>
    </div>
  </div>

   <div class="form-group row">
    <label for="colFormLabelLg" class="col-sm-3 col-form-label col-form-label-lg">Mobile</label>
    <div class="col-sm-7">
      <input type="text" class="form-control form-control-lg" id="colFormLabelLg" name="student[mobile]" placeholder="+91-xxxxxxxxxx" required>
    </div>
  </div>
      <div class="form-group row">
    <label for="colFormLabelLg" class="col-sm-3 col-form-label col-form-label-lg">Email</label>
    <div class="col-sm-7">
      <input type="email" class="form-control form-control-lg" id="colFormLabelLg" name="student[email]" placeholder="email">
    </div>
  </div>
  <div class="form-group row">
    <label for="colFormLabelLg" class="col-sm-3 col-form-label col-form-label-lg">Parent Name</label>
    <div class="col-sm-7">
      <input type="text" class="form-control form-control-lg" id="colFormLabelLg" name="student[parent_name]" placeholder="parent name" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="colFormLabelLg" class="col-sm-3 col-form-label col-form-label-lg">Parent Mobile Number</label>
    <div class="col-sm-7">
      <input type="text" class="form-control form-control-lg" id="colFormLabelLg" name="student[parent_no]" placeholder="+91-xxxxxxxxxx" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="colFormLabelLg" class="col-sm-3 col-form-label col-form-label-lg">Class</label>
    <div class="col-sm-7">
      <select class="custom-select custom-select-lg mb-3" name="student[class]" required>
	<option selected>Select Class</option>
	<option value="5">5</option>
	<option value="6">6</option>
	<option value="7">7</option>
	<option value="8">8</option>
	<option value="9">9</option>
	<option value="10">10</option>
	<option value="11">11</option>
	<option value="12">12</option>
 </select>
    </div>
  </div>

  
  <div class="form-group row">
    <label for="colFormLabelLg" class="col-sm-3 col-form-label col-form-label-lg">Events</label>
    <div class="col-sm-7">


     <div class="multiselect">
	    <div class="selectBox" onclick="showCheckboxes()">
	      <select style="position: relative;" class="custom-select custom-select-lg mb-3" name="student[class]">
	        <option>Select multiple events</option>
	      </select required>
	      <div class="overSelect"></div>
	    </div>
	    <div id="checkboxes" style="">
	      	<label for="1"><input id="1" type="checkbox" name="events[]" value="Quiz">Quiz</label>
			<label for="2"><input id="2" type="checkbox" name="events[]" value="Treassure Hunt">Treassure Hunt</label>
			<label for="3"><input id="3" type="checkbox" name="events[]" value="Teen Rowdies">Teen Rowdies</label>
			<label for="4"><input id="4" type="checkbox" name="events[]" value="Halla Bol">Halla Bol</label>
			<label for="5"><input id="5" type="checkbox" name="events[]" value="Raaga">Raaga</label>
			<label for="6"><input id="6" type="checkbox" name="events[]" value="Nrityangana">Nrityangana</label>
			<label for="7"><input id="7" type="checkbox" name="events[]" value="Yuvdhwani">Yuvdhwani</label>
			<label for="8"><input id="8" type="checkbox" name="events[]" value="Act Pro">Act Pro</label>
			<label for="9"><input id="9" type="checkbox" name="events[]" value="Brain Jam">Brain Jam</label>
			<label for="10"><input id="10" type="checkbox" name="events[]" value="Tee-Shart (prelims LOGO)">Tee-Shart Design (prelims LOGO)</label>
			<label for="11"><input id="11" type="checkbox" name="events[]" value="Counter-Strike-Go">Counter-Strike-Go</label>
			<label for="12"><input id="12" type="checkbox" name="events[]" value="FIFA">FIFA</label>
			<label for="13"><input id="13" type="checkbox" name="events[]" value="Word-Comabt">Word-Comabt</label>
			<label for="14"><input id="14" type="checkbox" name="events[]" value="Vocaphilia">Vocaphilia</label>
			<label for="15"><input id="15" type="checkbox" name="events[]" value="Need-For-Speed">Need-For-Speed</label>
			<label for="16"><input id="16" type="checkbox" name="events[]" value="Tasveer">Tasveer</label>
			<label for="17"><input id="17" type="checkbox" name="events[]" value="Sketch-me-if-you-can">Sketch-me-if-you-can</label>
			<label for="18"><input id="18" type="checkbox" name="events[]" value="Alfaaz">Alfaaz</label><br><br><br>

	    </div>
	  </div>
    </div>
  </div>


	<div class="col-auto">
	      <button type="submit" class="btn btn-success btn-lg">Submit</button>
	</div>

</form>
	</div>

</div></div>
	
</body>
</html>
