<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>

</head>
<body>
	<div id="menu">
		<input type="checkbox" name="a"> A
		<input type="checkbox" name="b"> B
		<input type="checkbox" name="c"> C
		<input type="checkbox" name="d"> D
	</div>	

</body>
</html>