.form-group {
  width: 5000px
  height: 50px;
}

.col-sm {
  width: 800px;
}

form {
  margin: 50px auto;
}

body{
    justify-content: center;
    align-items: center;

}
.card {
  width: 1000px;
  height: 700px;
  margin: 50px 250px;
  border: 0.5px solid black;
}

.custom-select{
  width: 100%
}

#menu-bg{
  background-image: url("../images/form/Razz.jpg");
  
  background-size: 100% 100%;
  height: 700px;
}


#row{
  height: 700px;
}
#menu-as{
  height: 700px;
}






.multiselect {
  width: 200px;
}



.selectBox select {
  width: 100%;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  background-color:white;margin-top:-75%;text-align:left;overflow-y: auto;height: 295px; width:100%; border: 1px solid red; justify-content: center; align-items: center; padding: 10px 10px; font-size: 20px;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

@media screen and (max-width: 700px) {
  .col-sm-3,.col-sm-7{
    width: 100%;
    margin-top: 0;
  }
  .card{
    width: 300px;
    margin: auto;
    border: 0px solid black;
  }
  #menu-bg{
    height: 0px
  }
  #menu{
    margin-top:-100%;
  }
  #checkboxes{
    margin-top:-110%; 
  }
}

.btn-lg{
  width: 100%
}

    .multiselect{
      width: 100%;
    }

    .selectBox {
      position: relative;
    }

    .selectBox select {
      width: 100%;
    }

    .overSelect {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    #checkboxes {
      display: none;
      border: 1px red solid;
    }

    #checkboxes label {
      display: block;
    }

    #checkboxes label:hover {
      background-color: #1e90ff;
    }